@tailwind components;

@layer components {
	.todo-pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}

	.todo-pagination li a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
		font-size: theme('fontSize.base');
		line-height: theme('lineHeight.lg');
		color: theme('colors.gray.600');
		font-weight: 500;
	}

	.todo-pagination .active a {
		background-color: theme('colors.gray.50');
		border-radius: 50%;
	}

	.todo-pagination .previous a,
	.todo-pagination .next a {
		width: auto;
		height: auto;
	}

	.todo-pagination .previous,
	.todo-pagination .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.todo-pagination .previous {
		left: 0;
	}

	.todo-pagination .next {
		right: 0;
	}
}
